name: display_metrics
description: Flutter plugin to retrieve device display metrics (resolution, size, PPI, diagonal). Convert inches & cm to Flutter logical pixels.
version: 0.1.0
homepage: https://github.com/nukeolay/display_metrics

environment:
  sdk: '>=3.1.2 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: dev.nukeolay.display_metrics
        pluginClass: DisplayMetricsPlugin
      ios:
        pluginClass: DisplayMetricsPlugin
